{% extends 'base_layout.html' %}

{% block content %}
  <div class="about_1">
  <h1>What is Stubit?</h1>
  <p>
    <b>Stubit</b> is a platform for students of BIT Jaipur to get all the important stuff they needed
    for good academics and also to stay updated of what happening in the college. This platform is an
    open source project so if anybody interested then they can contribute to <b>Stubit</b>.
  </p>
  </div>

  <div class="about_2">
  <h1>Who developed and started Stubit?</h1>
  <p>
    The platform is developed by one of the student of BIT Jaipur <b>Aviral Singh</b>.
  </p>
</div>

  <div class="about_3">
  <h1>What are upcoming features of stubit?</h1>
    <ul>
      <li>Attendance Tracking</li>
      <li>Live Notice Board.</li>
      <li>Student and teacher details.</li>
      <li>ChatBot for questions related to academics and college.</li>
      <li>And many more...</li>
    </ul>
    </div>
{% endblock %}
