{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block content %}

<div class="card">
<img src="{% static 'aviral.png' %}" alt="Aviral" style="width:100%">
<h1>Aviral Singh</h1>
<p class="title">Web Developer</p>
<p>Birla Institute of Technology, Jaipur</p>
<div style="margin: 24px 0;">
  <a href="https://www.instagram.com/avrlsngh/" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://www.facebook.com/aviral.singh.1088" target="_blank"><i class="fa fa-facebook"></i></a>
</div>
<p><button>avrlsngh@gmail.com</button></p>
</div>

{% endblock %}
